<!DOCTYPE html>
<html ng-app="anket">
<head>
	<title>page 1</title>	
	<meta charset="utf-8">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="css/main.min.css">
</head>
<body>
	<div class="gray-wrapp">
		<div class="main-wrapper">
			<div class="name-group">
				<h1>1.Введите имя и e-mail</h1>
			</div>
			<div class="form-group">
				<input type="text" placeholder="Имя" />
				<span class="error-block"></span>
			</div>
			<div class="form-group">
				<input type="text" placeholder="e-mail" />
				<span class="error-block"></span>
			</div>
		</div>
	</div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
</body>
</html>