<!DOCTYPE html>
<html>
<head>
	<title>page 5</title>	
	<meta charset="utf-8">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="css/main.min.css">
</head>
<body>
	<div class="gray-wrapp">
		<div class="main-wrapper result-wrapper">
		<div class="result-white clearfix">
			<div class="part-60">
				<h1>Александр Александрович</h1>
				<p>alex@lun.ua</p>
				<h2>Киев, Украина</h2>
				<p><span>Facebook:</span><a href="https://www.facebook.com/alex">fb.com/alex</a></p>	
				<p><span>Vkontakte:</span><a href="https://www.facebook.com/alex">vk.com/alex</a></p>	
			</div>
			<div class="part-40">
						<div class="img-block large-block">
							<img src="img/dog4.jpg" />
						</div>
			</div>
		</div>
		<div class="btn-block">
			<div class="btn-mid">		
					<input type="submit" value="Пройти заново"/>
			</div>
		</div>
	</div>	
	</div>
</body>
</html>				