<!DOCTYPE html>
<html>
<head>
	<title>page 3</title>	
	<meta charset="utf-8">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="css/main.min.css">
</head>
<body>
	<div class="gray-wrapp">
		<div class="main-wrapper">
			<div class="clearfix pagination-block">
					<span class="pag-page active">1</span>
					<span class="pag-page active">2</span>
					<span class="pag-page active">3</span>
					<span class="pag-page">4</span>
			</div>
			<div class="name-group">
				<h1>4.Выберите любого котика</h1>
			</div>
			<div class="img-group clearfix">
				<div class="img-block">
					<img src="img/cat1.jpg" />
				</div>
				<div class="img-block">
					<img src="img/cat2.jpg" />
				</div>
				<div class="img-block">
					<img src="img/cat3.jpg" />
				</div>
				<div class="img-block choosen">
					<img src="img/dog4.jpg" />
				</div>
					<span class="error-block">Вы выбрали собачку а надо котика!</span>
			</div>

			<div class="pag-footer clearfix">
				<div class="part"> 
					<span class="pag-page active paginator">&#10094; Предыдуший</span>
				</div>
				<div class="part"> 
					<input type="submit" value="Завершить"/>
				</div>
			</div>
		</div>
	</div>
</body>
</html>